@import url('https://fonts.cdnfonts.com/css/minecraft-4');
* {
    margin: 0;
    padding: 0;
    font-family: 'Minecraft', sans-serif;
}

/* Heights */

header {
    height: 10%;
}

main {
    height: 88%;
}

footer {
    height: 2%;
}

/* Other stuff */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    margin: auto;
}

main {
    display: flex;
}

main div {
    height: 100%;
    margin: auto;
}

#time {
    font-size: 4000%;
    margin: 0px;
}

footer {
    height: fit-content;
    position: fixed;
    bottom: 2px;
    left: 2px;
    display: flex;
}